{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-color-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="{% static 'geral/img/logo creche.png' %}" width="4%" alt="">&nbsp Creche Municipal Eliza Rossi Lima</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if is_secretaria %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home_secretaria' %}">Home Secretaria</a>
                </li>
            {% elif is_professor %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
            {% endif %}
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Sair</a>
            </li>
        </ul>
    </div>
</div>
</nav>