/*.shadow-main-color{
    box-shadow: 1px 1px 5px 1px rgba(0, 204, 190,.4);
}*/
.p-bold{
    margin-top: 20px;
    margin-left: 8px;
    font-size: 1.4rem;
}

.p-bold1 {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 8px;
    font-weight: bold;
    font-size:1.4rem;
}



.d-grid .btn {
    background-color: var(--main-color);
}

.d-grid .btn:hover {
    background-color: var(--dark-color);
    border-color: white;
}

.btn.btn-success.btn-dark-color2 {
    box-shadow: 10px 10px;
}
.btn-dark-color2{ 
    background-color:var(--main-color);
    color: white;
    margin:5px;
    padding: 2%;
    height: 10vh;
    width: 15vh;
    border-radius: 13px;
    border-color: white;
    font-size: 2vh;    
}


