/*.shadow-main-color{
    box-shadow: 1px 1px 5px 1px rgba(0, 204, 190,.4);
}*/
.p-bold{
    margin-top: 20px;
    margin-left: 8px;
    font-size: 1.4rem;
}

.p-bold1 {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 8px;
    font-weight: bold;
    font-size:1.4rem;
    
    
}

.btn-dark-color1{ /* Botões da home*/
    background-color:var(--main-color);
    color: white;
    margin:8px;
    padding: 3%;
    height: 10vh;
    width: 15vh;
    border-radius: 13px;
    border-color: white;    
}

.d-grid .btn {
    background-color: var(--main-color);
    

    
}

.d-grid .btn:hover {
    background-color: var(--dark-color);
    border-color: white;
}

.btn.btn-success.btn-dark-color1 {
    box-shadow: 10px 10px;
}


/*.btn-dark-color-outline {

    border: 1px solid var(--dark-color);
    background-color: var(--dark-color);

}

.btn-dark-color-outline:hover{

    background-color: #09A6A3;
    color: white;
    border: 1px solid var(--dark-color);
}*/