{% extends "base.html" %}
{% load static %}

{% block 'head' %}

    <link rel="stylesheet" href="{% static 'secretaria/css/secretaria.css' %}">    
    <link rel="stylesheet" href="{% static 'professor/css/professor.css' %}">
    <link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">
    
    {% endblock 'head' %}

    {% block 'body' %}
    {% include "partials/navbar.html" %}
    
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-md-8">

                <p class="p-bold"><span class="color-dark"></span></p>
                <p class="p-bold">Vamos realizar o cadastro do Aluno</p>
                {% if messages %}
                    <br>
                    {% for message in messages %}
                        <section class="alert {{message.tags}}">
                            {{message}}
                        </section>
                    {% endfor %}
                {% endif %}
                <br>
                <form action="{% url 'cadastro_aluno' %}" method="POST" enctype='multipart/form-data'>{% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md">
                            <label for="">Nome completo:</label>
                            <input type="text" class="form-control shadow-main-color" name="nome" placeholder="Digite o nome completo do Aluno...">
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md">
                            <label for="">Nome da Mãe:</label>
                            <input type="text" class='form-control shadow-main-color' name="nome_mae" placeholder="Nome da Mãe">
    
                        </div>
                        <div class="col-md">
                            <label for="">Nome do Pai:</label>
                            <input type="text" class='form-control shadow-main-color' name="nome_pai" placeholder="Nome do Pai">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="cep">Cep</label>
                            <input type="text" name="cep" id="cep" class="form-control shadow-main-color" placeholder="CEP">
                        </div>
                        <div class="col-md-6">
                            <label for="cidade">Cidade</label>
                            <input type="text" class="form-control shadow-main-color" name="cidade" id="cidade" placeholder="Cidade ...">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-10">
                            <label for="">Endereço:</label>
                            <input type="text" class="form-control shadow-main-color" name="rua" id="rua" placeholder="Endereço ...">
                            </div>
                        
                        <div class="col-md">
                            <label for="">Numero</label>
                            <input type="text" name="numero" id="numero" class="form-control shadow-main-color">
                            </div>
                    </div>
                    <br>
                    <div class="row">
                        
                        <div class="col-md">
                            <label for="">Bairro:</label>
                            <input type="text" class="form-control shadow-main-color" name="bairro" id="bairro" placeholder="Bairro ...">
                        </div>
                        
                        
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md">
                            <label for="">Telefone:</label>
                            <input type="tel" class="form-control shadow-main-color" name="telefone" placeholder="Telefone (xx) xxxx-xxxx">
                        </div>
                        <div class="col-md">
                            <label for="">Celular:</label>
                            <input type="tel" class="form-control shadow-main-color" name="celular" placeholder="Celular (xx) xxxx-xxxx">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md">
                            <label for="">Email:</label>
                            <input type="email" class="form-control shadow-main-color" name="email" placeholder="email@email.com.br ...">
                        </div>
                        
                    </div>
                    <br>

                    <div class="row">
                        
                        <div class="col-md">
                            <label for="">Numero do CADUNICO/BOLSA FAMILIA:</label>
                            <input type="text" class="form-control shadow-main-color" name="cadunico" placeholder="CADUNICO">
                        </div>

                        <div class="col-md">
                            <label for="">RA ESCOLAR</label>
                            <input type="text" class="form-control shadow-main-color" name="ra" placeholder="RA Escolar">
    
                        </div>
                        
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md">
                            <label for="">Foto de perfil:</label>
                            <input type="file" name="foto" id="" class="form-control shadow-main-color">
                        </div>

                        <div class="col-md">
                            <label for="">Turma</label>
                            <select name="turma" class="form-select" id="">
                                <option value="">Selecione uma turma</option>
                                    {% for i in turma  %}
                                        <option value="{{i.id}}">{{i.turma}}</option>

                                        
                                    {% endfor %}
                            </select>
                        </div>

                        <div class="col-md">
                            <label for="">Periodo</label>
                            <input type="text"  class="form-control shadow-main-color" name="periodo" placeholder="Periodo">
                        </div>
                    </div>
                    <br>

                    <input type="submit" value="Cadastrar" class="btn btn-success btn-dark-color" >
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    
    </div>



    <script>
        document.getElementById("cep").addEventListener("blur", function() {
            var cep = this.value.replace(/\D/g, '');
        
            if (cep) {
                // Expressão regular para validar o CEP
                var validacep = /^[0-9]{8}$/;
                if (validacep.test(cep)) {
                    // Faz a requisição para a API ViaCEP
                    fetch(`https://viacep.com.br/ws/${cep}/json/`)
                        .then(response => response.json())
                        .then(data => {
                            if (!data.erro) {
                                // Preenche os campos de endereço com os dados da API
                                document.getElementById('rua').value = data.logradouro;
                                document.getElementById('bairro').value = data.bairro;
                                document.getElementById('cidade').value = data.localidade;
                                // Adicione aqui outros campos se precisar (ex: cidade, estado)
                            } else {
                                alert("CEP não encontrado.");
                            }
                        })
                        .catch(error => console.log('Erro na requisição:', error));
                } else {
                    alert("Formato de CEP inválido.");
                }
            }
        });
        </script>

    
    {% endblock 'body' %}