{% extends "base.html" %}
{% load static %}

{% block 'head' %}

 <link rel="stylesheet" href="{% static 'administrativo/css/administrativo.css' %}">


    {% endblock 'head' %}

    {% block 'body' %}
    {% include "partials/navbar.html" %}

    <h1>Cadastro de Materiais</h1>
    <br>
     
</div>
<div class="row">
    <div class="col-md-6">    
     <form method="post">{% csrf_token %}
        {{ form.as_p }}

     </form>
    </div> 
</div> 
        <button class="btn btn-success btn-dark-color2" type="submit">Salvar</button>
    
        <a href="{% url 'administrativo_home' %}"><button class="btn btn-success btn-dark-color2" type="button">Voltar</button></a>

    

{% endblock 'body' %}